
<footer class="bg-dark text-white text-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-4">
        <h1>location</h1>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>

      <div class="col-4">
        <h1>AROUND THE WEB</h1>
        <div id="icon" class=" d-flex justify-content-evenly">  
        <i class="fa-brands fa-facebook fa-2x p-2"></i>
        <i class="fa-brands fa-twitter fa-2x p-2 "></i>
        <i class="fa-brands fa-twitch fa-2x p-2"></i>
        <i class="fa-brands fa-instagram fa-2x p-2"></i>
      </div>
      </div>

      <div class="col-4">
        <h1>ABOUT FREELANCER</h1>
        <p>Freelance is a free to use, MIT licensed Bootstrap theme created by ahmed salah</p>
      </div>

    </div>
  </div>
  <div class="bg-black text-white p-3"><p>Copyright © Your Website 2021</p></div>
</footer>
