

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto text-center">
      <h1 class="fw-bolder">CONTACT ME</h1>
      <i class="fa-solid fa-moon text-center fa-2x py-3"></i>
      <div class="py-5 form-">
        <input class="pb-3 text-black mb-4 form-control form-control-lg" type="text" placeholder="NAME"  required>
        <input class="pb-3 text-black mb-4 form-control form-control-lg" type="email" placeholder="EMAIL"  required>
        <input class="pb-3 text-black mb-4 form-control form-control-lg" type="number" placeholder="PHONE NUMBER"  required>
        <input class="pb-3 text-black mb-4 form-control form-control-lg" type="text" placeholder="MASSAGE"  required>
        <button class="btn btn-info" type="submit"> send </button>
      </div>

    </div>
  </div>
</div>
