.layare{
    position: absolute;
    width: 85%;
    top: 1%;
    bottom: 1%;
    left: 20%;
    right: 0%;
    opacity: 0;
    transition: all 0.8s;
    background-color: aqua;
    cursor: pointer;

}
.layare:hover{
    top: 0px;
    bottom: 0px;
    left: 30px;
    right: 0px;
    opacity: 1;
    border-radius: 15px;
}