
<div class="container">
  <div class="row g-5 py-5">
    <div class="title text-center py-5">
      <h1 class=" fw-bolder">PORTFOLIO</h1>
    <i class="fa-solid fa-moon fa-2x mb-5 ">
    </i>
    </div>

    <div class="col-4 position-relative" onclick="">
      <div class="layare"><i class="fa-solid fa-plus fa-9x d-flex justify-content-center mt-4 text-white"></i></div>
      <img src="../../assets/img/submarine.png" class="w-100 rounded-4">
    </div>
    <div class="col-4 position-relative">
      <div class="layare"><i class="fa-solid fa-plus fa-9x d-flex justify-content-center mt-4 text-white"></i></div>
        <img src="../../assets/img/cabin.png" class="w-100 rounded-4">
    </div>
    <div class="col-4 position-relative">
      <div class="layare"><i class="fa-solid fa-plus fa-9x d-flex justify-content-center mt-4 text-white"></i></div>
        <img src="../../assets/img/cake.png" class="w-100 rounded-4">
    </div>
    <div class="col-4 position-relative">
      <div class="layare"><i class="fa-solid fa-plus fa-9x d-flex justify-content-center mt-4 text-white"></i></div>
        <img src="../../assets/img/circus.png" class="w-100 rounded-4">
    </div>
    <div class="col-4 position-relative">
      <div class="layare"><i class="fa-solid fa-plus fa-9x d-flex justify-content-center mt-4 text-white"></i></div>
        <img src="../../assets/img/game.png" class="w-100 rounded-4">
    </div>
    <div class="col-4 position-relative">
      <div class="layare"><i class="fa-solid fa-plus fa-9x d-flex justify-content-center mt-4 text-white"></i></div>
        <img src="../../assets/img/safe.png" class="w-100 rounded-4">
    </div>


  </div>
</div>
